<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Multibingo Generator</title>
        <link rel="stylesheet" href="../static/App.css" />
    </head>
    <body>
        <script type="text/javascript" src="../static/App.js"></script>
        <div class="gameSelectionBox" id="gameSelection">
            {% for game in games %}
            
            <div class="gameSelect">
                <button class="expandButton" onclick="showGameChecks('{{game.name}}')" style="display: inline;" id="{{game.name}}_expandButton">+</button>
                <input type=checkbox id="{{game.name}}_allSelect" onclick="setAllGameChecks('{{game.name}}')">{{game.name}} <div class="checksCount">({{game.checks_list|length}} checks)</div> <div class="objectivesCount">({{game.get_obj_type_count()}} objectives)</div></checkbox>
            </div>

            <div class="gameChecksSelect" id="{{game.name}}_checks" style="display: none;">
                <hr>
                {% for check in game.checks_list %}
                <input type=checkbox>{{check.name}}</checkbox>
                <br>
                {% endfor %}
            </div>
            
            {% endfor %}
        </div>
        
    </body>
</html>