html {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 90%;
    background-color: darkslategrey;
    text-align: center;
}

h3 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

.section {
    display: inline-block;
    vertical-align: top;
    background-color: beige;
    border-radius: 10px;
    border: 5px;
    border-style: solid;
    border-color: rgb(24, 24, 24);
    padding: 20px;
    text-align: left;
}

#presetLoad {
    width: 20%;
    height: 400px;
}

#checkSelection {
    width: 30%;
}

#generatedSection {
    width: 30%;
}

.gameName {
    display: inline;
}

.gameChecksSelect {
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 26px;
    font-size: small;
}

.checkElement {
    margin: 0px;
    padding: 0px;
    display: inline;
}

.checkGame {
    display: none;
}

.checkObjType {
    display: none;
}

#generatedTable {
    display: none;
    table-layout: fixed;
}
.checkCell {
    margin:0;
    padding: 0;
    width: 110px;
    height: 110px;
    text-align: center;
    border-style: solid;
    border-color: black;
}

.bigButton {
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}

.generateSection {
    margin-top: 10px;
    margin-bottom: 10px;
}

.checksCount {
    display: inline;
    font-size: smaller;
    font-style: italic;
    color: darkblue;
}

.objectivesCount {
    display: inline;
    font-size: smaller;
    font-style: italic;
    color:green;
}

.expandButton {
    margin: 0px;
    border: 0;
    height: 20px;
    width: 20px;
    font-size: smaller;
}

.scrollingGamesList {
    margin-top: 10px;
    height: 650px;
    overflow: auto;
}

.generatedBoardString {
    display: none;
}

.lastSettingString {
    display: none;
}

.presetLoad {
    vertical-align: top;
    padding-left: 5%;
    display: inline-block;
    width: 20%;
    height: 400px;
    background-color: beige;
    border-radius: 10px;
    border: 5px;
    border-style: solid;
    border-color: rgb(24, 24, 24);
    padding: 10px;
}

.optionsSection {
    display: inline-block;
    vertical-align: middle;
}

.presetNameLabel, .presetDescLabel {
    display: inline-block;
    font-size: small;
    font-style: italic;
    margin-right: 10px;
}