html {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #221E22;
    text-align: center;
    user-select: none;
    color: white;
}

h3 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

button {
    background-color: #221E22;
}

.section {
    display: inline-block;
    vertical-align: top;
    background-color: #31263E;
    border-radius: 10px;
    border: 5px;
    border-style: solid;
    border-color: #44355B;
    padding: 20px;
    text-align: left;
}

#presetLoad {
    width: 20%;
    height: 400px;
}

#checkSelection {
    width: 30%;
}

#generatedSection {
    width: auto;
}

.gameName {
    display: inline;
}

.gameChecksSelect {
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 26px;
    font-size: small;
}

.gameContainer {
    height: auto;
}

.checkElement {
    margin: 0px;
    padding: 0px;
    display: inline;
}

.checkGame {
    display: none;
}

.checkObjType {
    display: none;
}

#generatedTable {
    display: none;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

td {
    padding: 0;
}

.checkCell {
    display: table-cell;
    margin:0;
    padding: 5px;
    width: 110px;
    height: 110px;
    text-align: center;
    vertical-align: middle;
    background-color: #221E22;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.smallButton {
    border-radius: 5px;
    color: #ECA72C;
    background-color: #221E22;
}

.smallButton:disabled {
    color: #44355B;
}

.mobileButton {
    display: none;
}

select {
    background-color: #221E22;
    color: white;
}

.bigButton {
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    color: white;
    background-color: #221E22;
}

.bigButton:disabled {
    color: #44355B;
}

.generateSection {
    margin-top: 10px;
    margin-bottom: 10px;
}

.checksCount {
    display: inline;
    font-size: smaller;
    font-style: italic;
}

.objectivesCount {
    display: inline;
    font-size: smaller;
    font-style: italic;
    color: #BB342F;
}

.expandButtonHolder {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    vertical-align: text-top;
}

.expandButton {
    display: block;
    margin: 0;
    padding:0;
    border: 0;
    height: 100%;
    width: 100%;
    font-size: smaller;
    background-color: transparent;
    color: white;
    text-align: center;
}

.scrollingGamesList {
    margin-top: 10px;
    height: 521px;
    overflow: auto;
}

.generatedBoardString {
    display: none;
}

.lastSettingString {
    display: none;
}

.optionsSection {
    display: inline-block;
    vertical-align: middle;
}

.presetLabel {
    display: inline-block;
    font-size: small;
    font-style: italic;
    margin-right: 10px;
}

.presetInfo {
    display: inline-block;
}

.infoLink {
    color: white;
    text-decoration: none;
}

.infoLink:visited {
    color: white;
}

#banner {
    display: block;
    margin: 0;
    padding: 0;
    height: 15%;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

#bannerReset {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 15%;
    position: absolute;
    right: 0;
    border: none;
    background: transparent;
    color: transparent;
}

#mainForm {
    display: block;
    margin: 0;
    padding: 0;
    height: 75%;
}

footer {
    text-align: right;
    padding-right: 10px;
    height: 10%;
}

.footerSpan {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* Mobile */
@media only screen and (max-width: 980px) {
    #presetLoad, #checkSelection, #generatedSection {
        width: 100%;
        margin-bottom: 10px;
    }

    #presetLoad {
        height: auto;
    }

    #banner {
        margin-top: 10px;
        width: 100%;
        margin-left: 25px;
    }

    select {
        width: 100%;
        font-size: large;
        margin-bottom: 5px;
    }

    input[type=checkbox] {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }

    label {
        font-size: larger;
        padding-left: 10px;
        margin-bottom: 20px;
    }

    #copyAsPresetButton, #loadPresetButton, #generateButton, #copyButton {
        display: none;
    }

    .mobileButton {
        display: block;
        width: 100%;
        font-size: large;
        font-weight: bold;
        border-radius: 10px;
        border-width: 4px;
        margin-top: 20px;
        padding: 10px;
        font-size: x-large;
        color: #ECA72C;
        background-color: #221E22;
    }
    
    .mobileButton:disabled {
        color: #44355B;
    }

    .presetLabel {
        margin-top: 5px;
        font-size: large;
    }

    .presetInfo {
        font-size: larger;
    }

    .checksCounter, .objsCounter {
        display: inline-block;
        margin-right:10px;
        font-size: large;
    }

    .optionsSection input[type=checkbox], .gameSelect input[type=checkbox]{
        margin-bottom: 10px;
    }
    
    .scrollingGamesList {
        margin-top: 0;
        height: auto;
    }

    .expandButtonHolder {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }

    .gameName {
        padding-left: 10px;
    }

    .checksCount {
        display: block;
        padding-left: 80px;
    }

    .checkElement {
        display: block;
        padding-left: 10px;
    }

    #showOutput {
        margin-top: 20px;
        padding-right: 10px;
    }

    .checkCell {
        display: block;
        width: 60px;
        height: 60px;
    }

    footer {
        display: none;
    }
}