<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Multibingo Generator</title>
        <link rel="stylesheet" href="../static/App.css" />
    </head>
    <body onload="init()">
        <script type="text/javascript" src="../static/App.js"></script>
        <div class="generatedBoardString" id="generatedBoard">{{ generated }}</div>
        <div class="lastSettingString" id="lastSetting">{{ last_setting }}</div>
        <div class="gameSelectionBox" id="gameSelection">
            <div class="counterSection">
                <div class="checksCounter">Checks: 0</div>
                <div class="objsCounter">Objectives: 0</div>
                <form method="post" action="/generate_bingosync">
                    <input type="hidden" id="checksJSONData" name="checksJSON" value="">
                    <input class="bigButton" id="generateButton" type="submit" value="Generate" disabled>
                    <input type="checkbox" name="includeGameName">Include game name in squares
                </form>
                <button class="bigButton" onclick="copyBoard()" {% if generated == '' %}disabled{% endif %}>Copy to Clipboard</button>
                <br>
            </div>

            <div class="scrollingGamesList">
                {% for game in games %}
                
                <div class="gameContainer">
                    <div class="gameSelect">
                        <button class="expandButton" onclick="showGameChecks('{{game.name}}')" style="display: inline;" id="{{game.name}}_expandButton">+</button>
                        <input type=checkbox 
                            id="{{game.name}}_allSelect" 
                            onclick="setAllGameChecks('{{game.name}}')">
                        <div class="gameName">{{game.name}}</div>
                        <div class="checksCount">(0 of {{game.checks_list|length}} selected)</div>
                        <div class="objectivesCount">({{game.get_obj_type_count()}} objectives)</div></checkbox>
                    </div>
                    <div class="gameChecksSelect" id="{{game.name}}_checks" style="display: none;">
                        <hr>
                        {% for check in game.checks_list %}
                        <div class="checkElement">
                            <div class="checkGame">{{game.name}}</div>
                            <div class="checkObjType">{{check.obj_type}}</div>
                            <input type=checkbox onclick="tallyChecks()">
                            <label>{{check.name}}</label>
                        </div>
                        <br>
                        {% endfor %}
                    </div>
                </div>
                
                {% endfor %}
            </div>
        </div>
        
    </body>
</html>