<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Multibingo Generator</title>
        <link rel="stylesheet" href="../static/App.css" />
    </head>
    <body onload="init()">
        <script type="text/javascript">
            const gamesObj = {{ games|tojson }};
            const lastSettingObj = {{ last_setting|tojson }}
            </script>
        <script type="text/javascript" src="../static/App.js"></script>
        <div class="generatedBoardString" id="generatedBoard">{{ generated }}</div>
        <div class="lastSettingString" id="lastSetting">{{ last_setting }}</div>
        <div class="gameSelectionBox" id="gameSelection">
            <div class="counterSection">
                <div class="checksCounter">Checks: 0</div>
                <div class="objsCounter">Objectives: 0</div>
                <form method="post" action="/generate">
                    <input type="hidden" id="checksJSONData" name="checksJSON" value="">
                    <input class="bigButton" id="generateButton" type="submit" value="Generate" disabled>
                    <input type="checkbox" name="includeGameName">Include game name in squares
                </form>
                <button class="bigButton" onclick="copyBoard()" {% if generated == '' %}disabled{% endif %}>Copy to Clipboard</button>
                <br>
            </div>

            <div class="scrollingGamesList">
                {% for entry in games %}
               
                <div class="gameContainer">
                    <div class="gameSelect">
                        <button class="expandButton" onclick="showGameChecks('{{entry.game}}')" style="display: inline;" id="{{entry.game}}_expandButton">+</button>
                        <input type=checkbox 
                            id="{{entry.game}}_allSelect" 
                            onclick="setAllGameChecks({{entry}}, checked)">
                        <div class="gameName">{{entry.game}}</div>
                        <div class="checksCount">(0 of {{entry.checks|length}} selected)</div></checkbox>
                    </div>
                    <div class="gameChecksSelect" id="{{entry.game}}_checks" style="display: none;">
                        <hr>
                        {% for check in entry.checks %}
                        <div class="checkElement">
                            <div class="checkGame">{{entry.game}}</div>
                            <div class="checkObjType">{{check.obj_type}}</div>
                            <input type=checkbox onclick="setCheck({{entry}}, {{check}}, checked)">
                            <label>{{check.name}}</label>
                        </div>
                        <br>
                        {% endfor %}
                    </div>
                </div>
                
                {% endfor %}
            </div>
        </div>
        
    </body>
</html>