body {
    margin-left: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gameChecksSelect {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.checksCount {
    display: inline;
    font-size: smaller;
    font-style: italic;
    color: darkblue;
}

.objectivesCount {
    display: inline;
    font-size: smaller;
    font-style: italic;
    color:green
}